[Desktop Entry]
Type=Application
Name=Sinclair
GenericName=Terminal Emulator
Comment=A fast, modern terminal that gets out of your way
Exec=sinclair
Icon=sinclair
Terminal=false
Categories=System;TerminalEmulator;Utility;
Keywords=terminal;shell;command;console;
StartupWMClass=sinclair
